<div id="nav-container"></div>
<div class="user-show-wrapper">
	<div class="container-fluid lair-details-header">
		<div class="page-container">
	    <div class="row panel-body">
	    	<div class="col-xs-5"> 
	    	<!-- bio info, pic -->
		    	<div class="circle">
		    		<img src="<%= user.get(['profile_image_url']) %>" class="profile-img"/>
		    	</div>
		    	<%= user.get(['first_name']) %>
		    	<%= user.get(['last_name']) %>
	    	</div>
	    	<div class="col-xs-7"> 
	    	<!-- owner lairs (slideshow?) -->
	    	</div>
	    </div>
	  </div>
	</div>
	<div class="container-fluid">
	  <div class="page-container">
	  <% if(user.get(['logged_in'])){ %>

			  <div class="row panel-body">
			    <div class="col-xs-12">
			    <h2>Pending Reservations</h2>
			    </div>
			    <div class="col-xs-12" >
			    	<div id="pending-reservations-container"></div>
			    </div>
			  </div>
			
			  <div class="row panel-body">
			    <div class="col-xs-12">
			    <h2>Approved Reservations</h2>
			    </div>
			    <div class="col-xs-12">
				    <div id="approved-reservations-container"></div>
			    </div>
		  	</div>

		  	<div class="row panel-body">
			    <div class="col-xs-12">
			    <h2>Your Trips</h2>
			    </div>
			    <div class="col-xs-12">
				    <div id="trips-container"></div>
			    </div>
		  	</div>
		 
		  <% } %>
		</div>
	</div>
</div>
