<div class="slider-container">
  <div class="lazy">
  <% @lair.images.each do |image| %>
    <div><img data-lazy="<%= image.filepicker_url %>"/></div>
  <% end %>
  </div>
</div>

<div class="user-info"></div>
<div class="lair-info">
  <h3><%= @lair.title %></h3>
  <p><%= @lair.full_street_address %></p>
</div>

<script>
  $('.lazy').slick({
  lazyLoad: 'ondemand',
  slidesToShow: 1,
  slidesToScroll: 1,
  prevArrow: '<button type="button" class="left glyphicon glyphicon-chevron-left">Previous</button>',
  nextArrow: '<button type="button" class="right glyphicon glyphicon-chevron-right">Previous</button>'
});
</script>