<div class="slider-container">
  <div class="lazy">
    <div><img data-lazy="http://www.toonanet.com/afcomix/Batcave3.jpg"/></div>
    <div><img data-lazy="http://img2.wikia.nocookie.net/__cb20130403170706/p__/protagonist/images/c/cb/Batcave.jpg"/></div>
  </div>
</div>
<!-- <div style="width:600px; height: 400px">your content 1</div>
<div style="width:600px; height: 400px">your content 2</div>
<div style="width:600px; height: 400px">your content 3</div> -->

<script>
  $('.lazy').slick({
  lazyLoad: 'ondemand',
  slidesToShow: 1,
  slidesToScroll: 1,
  prevArrow: '<button type="button" class="left glyphicon glyphicon-chevron-left">Previous</button>',
  nextArrow: '<button type="button" class="right glyphicon glyphicon-chevron-right">Previous</button>'
});
        

</script>