<ul>
  <li class="left-nav">
  	<a href="/#search/"><span class="logo-white"></span></a>
  </li>
  
	<div class="right-nav-container">
		<% if(!!currentUser){ %>
			<li class="profile">
				<a href="#/users/<%= currentUser.id %>">
					<div class="circle">
						<img src="<%= currentUser.escape(['profile_image_url']) %>" class="profile-img"/>
					</div>
					<span><%= currentUser.escape(['first_name']) %></span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" id="signOut">Log Out</a>
			</li>
		<% } else { %>
			<li title="Use the guest account when signing in" 
				data-toggle="tooltip" 
				data-placement="bottom">
				<a href="#signInModal" data-toggle="modal" >Sign In</a>
			</li>
			<li title="Try Signing In with the guest account first" 
				data-toggle="tooltip" 
				data-placement="bottom">
				<a href="#signUpModal" data-toggle="modal">Sign Up</a>
			</li>
			<li>
				<a href="#newLairModal" data-toggle="modal">New Lair</a>
			</li>
		<% } %>
	</div>
</ul>

<!-- Modals -->