
<li class="lair-result col-xs-12">
  <div class="col-xs-6">
    <button value="prev" class="pagination btn" name="pagination" <%= prevAllowed %>>Previous</button>
  </div>
  <div class="col-xs-6">
    <button value="next" class="pagination btn" name="pagination" <%= nextAllowed %>>Next</button>
  </div>
</li>