/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.nouislider.min.css
 *= require jquery.nouislider.pips.min.css
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick";

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

input, button, a {
  outline: none; 
}

input[type=text], select {
	border:solid 1px lightgrey;
	border-radius:2px;
	height: 32px;
	padding: 0 10px;
}

.full-width-height{
	width: 100%;
	height: 100%;
	padding: 0;
}

#content-wrapper{
	@extend .full-width-height;
}

#main-content{
	@extend .full-width-height;
}

#map-element{
	@extend .full-width-height;
}

.lairbnb-nav{
	height: 45px;
	padding: 5px 20px;
	background: white;
	border-bottom: 1px solid lightgrey;
}
#nav-container{
	min-height: 45px;
	display: block;
	width: 100%;
}

#nav-container:after{
	clear:both;
}

// nav //
nav ul{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}
nav ul li {
	display: inline;
}

nav ul li input {
	width: 250px;
}

.left-nav{
	float: left;
}

.right-nav{
	float: right;
}


// .container-fluid{
// 	height: 100%;
// 	padding: 0;
// }
#map-container{
	height: 100%;
	width: 45%;
	padding: 0;
	float: left;
	display: inline-block;
}


#sidebar-container{
	padding:30px;
	height: 100%;
	width: 55%;
	overflow-y: scroll;
	float: left;
	display: inline-block;
}

#filters{
	height: 180px;
}

.lair-result{
	list-style: none;
	width: 50%;
	min-width: 200px;
	float: left;
}

// SLIDESHOW //

.slick-prev:before{

}

.slider-container-main{
	width:100%;
	height:500px;
	background-color:rgba(0,0,0,0.9);
	overflow: hidden;

	img{
	  display: block;
	  width:100%;
	  max-width: 100%;
	  height: auto !important;
	  width: auto\9; /* ie8+9 */
	  position:absolute;
    top:0;
    bottom:0;
    margin: auto;
	}

	button{
		text-transform: none;
		background: none;
		outline-style: none;
		border: none;
	}
	.carousel-lr-button-container{
		color: white;
		position: absolute;
		text-shadow: 0 0 10px rgba(0,0,0,0.8);
		z-index: 10;
		height: 100%;
	}

	.left-main{
		@extend .carousel-lr-button-container;
		left:0;
		font-size: 75px;
		width: 75px;
	}

	.left-mini{
		left:0;
		font-size: 75px;
		width: 25%;
	}

	.right-main{
		@extend .carousel-lr-button-container;
		right:20px;
		font-size: 75px;
		width: 75px;
	}

	.right-mini{
		right:20px;
		font-size: 75px;
		width: 25%;
	}

	.slick-slider, .slick-track, .slick-list{
		height: inherit;
	}
	.slick-slide{
		position: relative;
	}

}

// profile image //

.circle{
  height: 100px;
  width: 100px;
  border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border: 3px solid lightgrey;
  overflow: hidden;
}

.profile-img{
	width:100%;
}

// Lair Reservation Form //

.page-container{
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.lair-reservation{
	width: 315px;
	height: 500px;
	margin: -40px;
	padding: 0 20px;
	.price-bar{
		height: 40px;
		color: white;
		background: rgba(0,0,0,0.8);
	}
	.date-input{
		width: 85px;
		margin-right: 10px;
	}
}





