/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.nouislider.min.css
 *= require jquery.nouislider.pips.min.css
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick";

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.full-width-height{
	width: 100%;
	height: 100%;
}

#content-wrapper{
	@extend .full-width-height;
}

#main-content{
	@extend .full-width-height;
}

#map-container{
	width: 45%;
	height: 100%;
	display: inline-block;
	float: left;
}

#map-element{
	@extend .full-width-height;
}

#sidebar-container{
	width: 55%;
	height: 100%;
	display: inline-block;
	float: left;
	background-color: red;
	overflow-y: scroll;
}

#filters{
	height: 180px;
}

.lair-result{
	list-style: none;
	width: 50%;
	min-width: 200px;
	float: left;
}

// SLIDESHOW //

.slick-prev:before{

}

.slider-container-main{
	width:100%;
	height:500px;
	background-color:rgba(0,0,0,0.9);
	overflow: hidden;

	img{
	  display: block;
	  width:100%;
	  max-width: 100%;
	  height: auto !important;
	  width: auto\9; /* ie8+9 */
	  position:absolute;
    top:0;
    bottom:0;
    margin: auto;
	}

	button{
		text-transform: none;
		background: none;
		outline-style: none;
		border: none;
	}
	.carousel-lr-button-container{
		color: white;
		position: absolute;
		text-shadow: 0 0 10px rgba(0,0,0,0.8);
		z-index: 10;
		height: 100%;
	}

	.left-main{
		@extend .carousel-lr-button-container;
		left:0;
		font-size: 75px;
		width: 75px;
	}

	.left-mini{
		left:0;
		font-size: 75px;
		width: 25%;
	}

	.right-main{
		@extend .carousel-lr-button-container;
		right:20px;
		font-size: 75px;
		width: 75px;
	}

	.right-mini{
		right:20px;
		font-size: 75px;
		width: 25%;
	}

	.slick-slider, .slick-track, .slick-list{
		height: inherit;
	}
	.slick-slide{
		position: relative;
	}

}
