<div class="hero-wrapper">
  <div class="video-wrapper">
    <video  preload="auto" id="pretzel-video" class="video-playing tc-videoHost"> <!-- autoplay loop -->
      <source src="//a0.muscache.com/airbnb/static/Seoul-P1-4.mp4" type="video/mp4">
      <source src="//a0.muscache.com/airbnb/static/Seoul-P1-4.webm" type="video/webm">
    </video>
  </div>
  <div class="fluid-container main-overlay">
    <div class="row v-center">
      <div class="col-xs-12">
        <h1>lairbnb</h1>
      </div>
      <div class="col-xs-12">
        <h3>HQs for heros</h3>
      </div>
    </div>
  </div>
  <div class="fluid-container main-form-wrapper">
    <div class="col-xs-12">
      <form class="main-form-collection col-xs-offset-3">
        <div class="lairbnb-form-group">
          <span class="glyphicon glyphicon-search input-icon"></span>
          <input type="text" class="location first" name="location" id="location-search" placeholder="Where To?" title="Try seaching for 'New York City'" data-toggle="tooltip" data-placement="top" autofocus>
        </div>
        <button type="submit" class="last btn">
          Find Lair
        </button>

      </form>
    </div>
  </div>
</div>


<div class="fluid-container "> 
  <div class="row">
    <div class="xs-col-12">
      Featured Properties
    </div>
    <div class="xs-col-3">
      thing one 
    </div>
    <div class="xs-col-3">
      thing two
    </div>
    <div class="xs-col-3">
      thing three
    </div>
  </div>
</div>
<!-- <div class="container">
<div class="p1-hero-wrapper shift-with-hiw">
  <div id="hero" data-native-currency="USD">
    
      <video autoplay loop preload="auto" id="pretzel-video" class="video-playing tc-videoHost">
        <source src="//a0.muscache.com/airbnb/static/Seoul-P1-4.mp4" type="video/mp4">
        <source src="//a0.muscache.com/airbnb/static/Seoul-P1-4.webm" type="video/webm">
      </video>
  </div>

  <div class="search-area text-center">
    <div class="page-container page-container-responsive row-full-height">
      <div class="intro-area row row-table row-full-height">
        <div class="col-12 col-middle">
          <h1 id="tagline" class="uppercase text-jumbo text-contrast row-space-1">Welcome home</h1>
          <div id="subtitle" class="h4 text-contrast row-space-4">
            Rent unique places to stay from local hosts in 190+ countries.
          </div>
          <a href="#" class="btn btn-contrast btn-large btn-semi-transparent how-it-works">
            How It Works
          </a>
        </div>
        <div class="bottom-search-area">
          <div class="col-12">
            <form action="/s" id="search_form">
  <div class="location-wrapper"><input type="text" class="form-inline location input-large input-contrast" autocomplete="off" id="location" name="location" placeholder="Where do you want to go?"><p id="enter_location_error_message" class="bad hide">
    Please set location
  </p></div><input type="text" id="checkin" class="form-inline checkin search-option input-large input-contrast ui-datepicker-target" name="checkin" placeholder="Check In"><input type="text" id="checkout" class="form-inline checkout search-option input-large input-contrast ui-datepicker-target" name="checkout" placeholder="Check Out"><div class="select select-large">
    <select id="guests" name="guests">
      <option value="1">1 Guest</option>
<option value="2">2 Guests</option>
<option value="3">3 Guests</option>
<option value="4">4 Guests</option>
<option value="5">5 Guests</option>
<option value="6">6 Guests</option>
<option value="7">7 Guests</option>
<option value="8">8 Guests</option>
<option value="9">9 Guests</option>
<option value="10">10 Guests</option>
<option value="11">11 Guests</option>
<option value="12">12 Guests</option>
<option value="13">13 Guests</option>
<option value="14">14 Guests</option>
<option value="15">15 Guests</option>
<option value="16">16+ Guests</option>
    </select>
  </div><input type="hidden" name="source" value="bb"><button type="submit" class="search-button form-inline btn btn-primary btn-large" id="submit_location">
    Search
  </button>
</form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div> -->