<div id="nav-container-home"></div>
<div class="hero-wrapper">
  <div class="video-wrapper">
    <video autoplay loop preload="auto" id="pretzel-video" class="video-playing tc-videoHost"> 
      <source src="https://s3-us-west-1.amazonaws.com/lairbnb/lairbnb-background-video.m4v" type="video/mp4">
    </video>
  </div>
  <div class="fluid-container main-overlay">
    <div class="row v-center">
      <div class="col-xs-12">
        <h1>lairbnb</h1>
      </div>
      <div class="col-xs-12">
        <h3>HQs for heros</h3>
      </div>
    </div>
  </div>
  <div class="fluid-container main-form-wrapper">
    <div class="main-form-inner-wrapper">
      <form class="main-form-collection">
        <div class="lairbnb-form-group">
          <span class="glyphicon glyphicon-search input-icon"></span>
          <input type="text" class="location first" name="location" id="location-search" placeholder="Where To?" title="Try seaching for 'New York City'" data-toggle="tooltip" data-placement="top" >
        </div>
        <button type="submit" class="last btn">
          Find Lair
        </button>

      </form>
    </div>
  </div>
</div>

<div class="front-page-section-wrapper">
  <div class="front-page-section"> 
    <div class="row">
      <div class="col-xs-12">
        <h1>Rule the World</h1>
        <h4>From Anywhere In It</h4>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-6">
        <a href="#/search/San-Francisco">
          <div class="san-francisco-image"></div>
        </a>
        </div>
        <div class="col-xs-6">
          <a href="#/search/New-York-City">
            <div class="new-york-image"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="front-page-section-wrapper">
  <div class="front-page-section"> 
    <div class="row">
      <div class="col-xs-12">
        <h1>About This Site</h1>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-6 justified">
          <p>lair-bnb.com was built to address a clear need: young heros and 
          villains just starting their careers don't have the resources necessary
          to establish their own personal headquarters, but still need one in order
          to effectively perform their jobs. Can someone really be expected to 
          conquer worlds from his or her parent's basement?</p>
          <p><strong>This site provides the means for members of the super-community, new and established alike, to share their lairs and secret headquarters with one another. </strong></p>
        </div>
        <div class="col-xs-6 justified">
        <p>This site was built by David Hamme using Ruby on Rails, Backbone.js,
        jQuery, Twitter Bootstrap, Google Maps and Google Places APIs, and is deployed on Heroku.
        </p>
        <p>You can check out the code on GitHub <a href="https://github.com/hammeiam/lair-bnb">here</a></p>
        <p>David can be contacted via email at <a href="mailto:dhamme@gmail.com">dhamme@gmail.com</a></p>
        </div>
      </div>

    </div>
  </div>
</div>