<ul>
  <li class="left-nav"><a href="/#search/"><span class="logo"></span></a></li>
  <li class="left-nav">
  	<div class="lairbnb-form-group">
	  	<span class="glyphicon glyphicon-search input-icon"></span>
	  	<input type="text" class="location" name="location" id="location-search" placeholder="Where To? eg 'New York City'" value="<%= locationField %>">
  	</div>
  </li>
	<li class="right-nav">login</li>
</ul>