<!-- <nav class="navbar navbar-default" role="navigation">
 -->  <div class="container-fluid">
    <a class="navbar-brand" href="#">lairbnb</a>
    <form class="navbar-form navbar-left location" role="search">
      <div class="form-group">
        <input type="text" class="form-control location" name="location" id="location-search" placeholder="Where To?">
      </div>
      <!-- <input type="submit" value="Submit"> -->
    </form>
    
  </div><!-- /.container-fluid -->
<!-- </nav> -->