<!-- <nav class="navbar navbar-default" role="navigation">
 -->  
 <!-- <div class="container-fluid">
    <a class="navbar-brand" href="#">lairbnb</a>
      <div class="form-group navbar-left">
      <div class="form-group">
      	<input type="text" class="form-control location" name="location" id="location-search" placeholder="Where To?" value="<%= locationField %>">
      </div>
        
      </div>    
  </div> -->
  <ul>
  <li class="left-nav"><span class="logo"></span></li>
  <li class="left-nav">
  	<div class="lairbnb-form-group">
	  	<span class="glyphicon glyphicon-search input-icon"></span>
	  	<input type="text" class="location" name="location" id="location-search" placeholder="Where To?" value="<%= locationField %>">
  	</div>
  </li>
	<li class="right-nav">login</li>
  </ul>