<ul>
  <li class="left-nav"><a href="/#search/"><span class="logo"></span></a></li>
  <li class="left-nav">
  	<div class="lairbnb-form-group">
	  	<span class="glyphicon glyphicon-search input-icon"></span>
	  	<input type="text" class="location" name="location" id="location-search" placeholder="Where To? eg 'New York City'" value="<%= locationField %>">
  	</div>
  </li>
	<li class="right-nav">
		<% if(!!user){ %>
			<p>I exists!</p>
		<% } else { %>
		<p>I don't exist</p>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
		<% } %>
	</li>
</ul>