<!-- <nav class="navbar navbar-default" role="navigation">
 -->  
 <!-- <div class="container-fluid">
    <a class="navbar-brand" href="#">lairbnb</a>
      <div class="form-group navbar-left">
      <div class="form-group">
      	<input type="text" class="form-control location" name="location" id="location-search" placeholder="Where To?" value="<%= locationField %>">
      </div>
        
      </div>    
  </div> -->
  <ul>
  <li class="left-nav">airbnb</li>
  <li class="left-nav"><input type="text" class="location" name="location" id="location-search" placeholder="Where To?" value="<%= locationField %>"></li>
	<li class="right-nav">login</li>
  </ul>