<!-- <nav class="navbar navbar-default" role="navigation">
 -->  <div class="container-fluid">
    <a class="navbar-brand" href="#">lairbnb</a>
      <div class="form-group navbar-left">
        <input type="text" class="form-control location" name="location" id="location-search" placeholder="Where To?">
      </div>    
  </div><!-- /.container-fluid -->
<!-- </nav> -->