<div id="filters">
	<label>Dates
		<input type="date" id="check-in-date">
		<input type="date" id="check-out-date">
		<select id="guests">
			<option value="1">1 Guest</option>
			<option value="2">2 Guests</option>
			<option value="3">3 Guests</option>
		</select>
	</label><br>
	<label>Lair Type
		<input type="checkbox" value="entire-hq">
		<input type="checkbox" value="private-room">
		<input type="checkbox" value="shared-room">
	</label><br>
	<label>Price Range
		<input type="number" min="10" id="price-min">
		<input type="number" max="100" id="price-max">
	</label>
	<p>filter summary, listing summary, more filters button</p>
</div>
<div id="lairs-index">
	<!-- <div style="height:100px; width: 200px; border:2px solid black"></div>
	<div style="height:100px; width: 200px; border:2px solid black"></div>
	<div style="height:100px; width: 200px; border:2px solid black"></div>
	<div style="height:100px; width: 200px; border:2px solid black"></div>
	<div style="height:100px; width: 200px; border:2px solid black"></div> -->
</div>