<div id="filters">
	<label>Dates
			<input type="text" id="check-in-date" name="check_in_date" placeholder="Check In">
			<input type="text" id="check-out-date" name="check_out_date" placeholder="Check Out">
			<select id="guests">
				<option value="1">1 Guest</option>
				<option value="2">2 Guests</option>
				<option value="3">3 Guests</option>
			</select>
	</label><br>
	<label>Lair Type
		<input type="checkbox" name="lair_type" value="underground" >
		<input type="checkbox" name="lair_type" value="fortress">
		<input type="checkbox" name="lair_type" value="office">
	</label><br>
	<!-- <label>Price Range
		<input type="number" min="10" name="price_min" id="price-min" value="<%= fieldValues['price_min'] %>">
		<input type="number" max="100" name="price_max" id="price-max" value="<%= fieldValues['price_max'] %>">
	</label> -->
	<div id="slider" name="price_range"></div>
	<span id="min-price"></span>
	<span id="max-price"></span>
	
	<p>filter summary, listing summary, more filters button</p>
</div>
<div id="lairs-index">
</div>
